body {
  display: flex;
  margin: 0;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.text {
  gap: 16px;
}

h1 {
  font-family: "outfit";
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
p {
  font-size: 15px;
  text-align: center;
  font-family: "outfit";
  font-weight: 200;
}
img {
  border-radius: 10px;
}
.card {
  display: flex;
  width: 320px;
  background-color: hsl(0, 0%, 100%);
  padding: 16px 16px 40px 16px;
  border-radius: 25px;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
